body {
    background-color: orange;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 15px;
    margin: auto;
}

/* center the image */
img {
    display: block;
    margin: auto;
    width: 500px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: green;
    }
    p {
        font-family: monospace;
    }
    img {
        width: 400px;
        border-radius: 10px;
    }
    .box {
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 5px;
        margin: auto;
        /* text-align: center; */
        /* justify-content: center; */
        /* align-items: center; */
    }
}